<.header>
  Listing Items
  <:actions>
    <.button phx-click="select-all">Select All</.button>
    <.link patch={~p"/items/new"}>
      <.button>New Item</.button>
    </.link>
  </:actions>
</.header>

<div class="h2 mb-2 font-bold">With stream</div>
<.table id="items" rows={@streams.items}>
  <:col :let={{_id, {_item, checked}}} label="checked">
    <%= inspect(checked) %>
  </:col>
  <:col :let={{id, {item, checked}}}>
    <input
      id={"checkbox_#{id}"}
      name={"checkbox_#{id}"}
      type="checkbox"
      phx-click="toggle"
      phx-value-id={item.id}
      value={checked}
      checked={checked}
    />
  </:col>
  <:col :let={{_id, {item, _checked}}} label="ID"><%= item.id %></:col>
</.table>

<div class="h2 my-2 font-bold">With assigns</div>
<.table id="items" rows={@items} row_id={fn {item, _checked} -> item.id end}>
  <:col :let={{_item, checked}} label="checked">
    <%= inspect(checked) %>
  </:col>
  <:col :let={{item, checked}}>
    <input
      id={"checkbox_#{item.id}"}
      name={"checkbox_#{item.id}"}
      type="checkbox"
      phx-click="toggle"
      phx-value-id={item.id}
      value={checked}
      checked={checked}
    />
  </:col>
  <:col :let={{item, _checked}} label="ID"><%= item.id %></:col>
</.table>

<div class="h2 mt-2 font-bold">State</div>
<div><%= Enum.count(@selected_ids) %> selected</div>
<div><%= inspect(@selected_ids) %></div>

<.modal :if={@live_action in [:new, :edit]} id="item-modal" show on_cancel={JS.patch(~p"/items")}>
  <.live_component
    module={CheckboxTestWeb.ItemLive.FormComponent}
    id={@item.id || :new}
    title={@page_title}
    action={@live_action}
    item={@item}
    patch={~p"/items"}
  />
</.modal>
